
<div id='about_index'>
 <div id='about_top' >
 <h1>About Us!</h1>
 <span><h3>SKLounge Rep.<h3></span>
 </div>
 <br/>
 <div id='about_desc'>
 <p>
  <% unless @static == nil %>
   <%= @static.about_desc %>
  <% end %>
 </p>
 </div>
 <div id='employee_list'>

 </div>

<div id="form_back"  >
<ul>
<li>Back
<ul>
<li><%= link_to 'Home', root_path%></li>
<li><%= link_to 'Make Reservation', new_reservation_path%></li>
<li>  <%= link_to 'Gallery',galleries_path %></li>
<li>
<%= link_to 'Events',events_path %>
</li>
<li>
<%= link_to 'About',lounges_about_path  %>
</li>
</ul>
</li>
</ul>
</div>

<div>

