
<div id='about_index'>
 <div id='about_top' >
 <h1>About Us!</h1>
 <h3>SKLounge Rep.<h3>
 </div>
 <br/>
 <div id='about_desc'>
 <p>
  It’s not mentioned in the screencast anywhere, but if your code includes the code console.log('my message') it will appear in the console area of each of the debuggers.
 </p>
 </div>

  <div id="form_back"  >
<ul>
<li><%= link_to 'Back Home', root_path%>
<ul>
<li><%= link_to 'Make Reservation', new_reservation_path%></li>
<li>  <%= link_to 'Gallery',galleries_path %></li>
<li>
<%= link_to 'Events',events_path %>
</li>
<li>
<%= link_to 'About',lounges_about_path  %>
</li>
</ul>
</li>
</ul>
</div>

<div>

