
<% if current_user%>
<br/>
<h1>Admin View : Event Page</h1>
<br/>
<div id='other_link' class='curved'>
<ul>
<li><%= link_to "User:Reservation", reservations_path %></li>|
<li><%= link_to "User:Gallery ", galleries_path %></li>|
<li><%= link_to "User:Bulletin ", bulletins_path %></li>|
<li><%= link_to "User:Events", events_path, :class=>'linkactive' %></li>|
<li><%= link_to "User:Contacts", contacts_path %></li>
</ul>
</div>

<% if current_user %>
 <div id='other_link' class='curved'>
<ul>
<li><%= link_to "Admin: Add New Event ", new_event_path %></li>|
</ul>
</div>
<br/>
<% end %>
<%end%>


<div id='event_index'>
<h1 style="margin-left:30px">Events <span>Calender</span></h1>
  <div id='latest_event' >
    <div id='latest_list' class='sidcurve shadow'>
      <div id='latest_top'>
        <h3>Latest Events for <%= Event.month_list[Event.current_month] %>, <%= Event.current_year %> </h3>
      </div>
      <div id='latest_bottom'>
       <% @events.each do |e| %>
         <% if e.month == Event.current_month %>
           <div id='event_detail' class='curved shadow'>
               <p><%= e.event_name %> |
            <% if e.event_end_time == e.event_start_time %>
             <%= e.event_end_time %>
            <% else %>
            <%= e.event_start_time %> - <%= e.event_end_time %>
            <% end %>
            <% if current_user %>
            <label><a href=""><img src="/images/s.png" /></a>

            <a href=""><img src="/images/x.png" /></a></label>
            <% end %>
            </p>
            <p>
            Event Begins on:
            <% if e.event_end_date == e.event_start_date %>
             <%= format_date e.event_end_date %>
            <% else %>
            <%= format_date e.event_start_date %>  - <%= format_date e.event_end_date %>
            <% end %>
            </p>
           </div>
         <% end %>
       <% end %>
      </div>
    </div>
  </div>


  <div id='event_list'>
  <h2>Sklounge Event Lists: Year <%= Date.today.year %></h2><br/>
     <% Event.month_list.each do |k,v| %>
         <div id="event_holder" class='sidcurve shadow'>
          <h3><%= v %></h3>
           <% @events.each do |e| %>
            <% if e.month == k %>
            <div id='event_detail' class='curved shadow'>
            <p><%= e.event_name %> |
            <% if e.event_end_time == e.event_start_time %>
             <%= e.event_end_time %>
            <% else %>
            <%= e.event_start_time %> - <%= e.event_end_time %>
            <% end %>
            <% if current_user %>
            <label>
            <%= link_to image_tag("/images/s.png"), event_path(e) %>
            <%= link_to image_tag("/images/x.png"), e, :confirm => 'Are You Sure' %>
            <% end %>
            </p>
            <p>
            Event Begins on:
            <% if e.event_end_date == e.event_start_date %>
             <%= format_date e.event_end_date %>
            <% else %>
            <%= format_date e.event_start_date %>  - <%= format_date e.event_end_date %>
            <% end %>
            </p>
            </div>
            <% end %>
           <% end %>
         </div>
    <% end %>
  </div>

</div>

  <div id="form_back"  >
<ul>
<li>Back
<ul>
<li><%= link_to 'Home', root_path%></li>
<li><%= link_to 'Make Reservation', new_reservation_path%></li>
<li>  <%= link_to 'Gallery',galleries_path %></li>
<li>
<%= link_to 'Events',events_path %>
</li>
<li>
<%= link_to 'Contact Us',new_contact_path %>
</li>
</ul>
</li>
</ul>
</div>


<div class='clear'></div>

