<div id="display_form", class = "curved">
<br/>
<p>
  <b>Event Name: </b>
  <%= @event.event_name %>
</p>

<br/>
<p>
  <b>Event Start Time:</b>
  <%= @event.event_start_time %>
</p>
<br/>
<p>
  <b>Event End Time:</b>
  <%= @event.event_end_time %>
</p>
<br/>
<p>
  <b>Event Date:</b>
  <%= format_date @event.event_start_date %>
</p>
<br/>
<p>
  <b>Event Date:</b>
  <%= format_date @event.event_end_date %>
</p>
<br/>
<p>
  <%= link_to "Edit", edit_event_path(@event) %> |
  <%= link_to "Destroy", delete_event_url(@event) %> |
  <%= link_to "Back", events_path %>
</p>
</div>

