<h1>Admin View : Contacts Page</h1>
<br/>
<div id='other_link' class='curved'>
<ul>
<li><%= link_to "User:Reservation ", reservations_path %></li>|
<li><%= link_to "User:Gallery", galleries_path %></li>|
<li><%= link_to "User:Contact", bulletins_path %></li>|
<li><%= link_to "User:Events ", events_path %></li>|
<li><%= link_to "User:Contacts", contacts_path, :class=>'linkactive' %></li>
</ul>
</div>

<br/>
<div id='standard_index'>
 <h2>Listing contacts</h2>

<br/>
<div id='form_search' class='curved'>
</div>
<div id='form_new' class='curved'>
<%= link_to 'New Contact', new_contact_path %>
</div>
<br/>
<br/>
<div id='standard_file' >
       <% @contacts.each do |b| %>
       <div id="repo_detail" class="curved_m">
        <label><b>ID: </b><%= b.id %></label><br/>

        <label><b>Name: </b><%= b.full_name %>
        </label>
         <br/>
        <label>Subject: </b><%= b.subject %><br/>
        <label>Email: </b><%= b.email %><br/>
       </div>
       <div id="standard_actions" class="curved_n">
        <div id="show_action" class="curved_a">
         <%= link_to "Show Details", contact_path(b) %>
        </div>
        <div id="delete_action" class="curved_b">
         <%= link_to "Delete", b, :method => :delete %>
        </div>
       </div>
       <br/>
       <% end %>
     </div>

</div>



</div>

