<br/>
<h1 class='htwo'><span>Contact</span> Us </h1>
<br/>
<div id='contact_support'>
<h3>Understanding You</h3>
<p id='contact_desc'>
<% unless @static == nil %>
   <%= @static.contact_desc %>
  <% end %></p>
</div>
<br/><br/>

<div id="reg_form", class = "curved">
<%= render :partial => 'form' %>
</div>

<div id="form_back"  >
<ul>
<li>Back
<ul>
<li><%= link_to 'Home', root_path%></li>
<li><%= link_to 'Make Reservation', new_reservation_path%></li>
<li>  <%= link_to 'Gallery',galleries_path %></li>
<li>
<%= link_to 'Events',events_path %>
</li>
<li>
<%= link_to 'Contact Us', new_contact_path   %>
</li>
</ul>
</li>
</ul>
</div>

