<div id="display_form", class = "curved">
<br/>

<p id='static_message'>
  <b >ShowOff description:</b>
  <%= @static.show_desc %>
</p>
<br/>
<p id='static_message'>
  <b>Contact Description:</b>
  <%= @static.contact_desc %>
</p>
<br/>
<p id='static_message'>
  <b>Currently In Use:</b>
  <%= @static.static_active %>
</p>
<br/>
<p>
  <%= link_to "Edit", edit_static_path(@static) %> |
  <%= link_to "Destroy", delete_static_url(@static) %> |
  <%= link_to "Back", statics_path %>
</p>
</div>

