<% form_for @gallery, :html => { :multipart => true } do |f| %>
    <% if @gallery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gallery.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @gallery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br/>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <br/>
   <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <br/>
  <p>
    <%= f.label :gallery_type %><br />
    <%= f.select :gallery_type, [['Events'],['Dishes'],['SK Life']] %>
  </p>
  <br/>
  <p>
    <%= f.file_field :photo %>
  </p>
  <br/>
  <p><%= f.submit %></p>
<% end %>
<br/>

