<% if current_user%>
<h1>Admin View : Gallery Page</h1>
<br/>
<div id='other_link' class='curved'>
<ul>
<li><%= link_to "User:Reservation ", reservations_path %></li>|
<li><%= link_to "User:Gallery", galleries_path, :class=>'linkactive' %></li>|
<li><%= link_to "User:Bulletin", bulletins_path %></li>|
<li><%= link_to "User:Events ", events_path%></li>|
<li><%= link_to "User:Contacts", contacts_path %></li>
</ul>
</div>

<% if current_user %>
 <div id='other_link' class='curved'>
<ul>
<li><%= link_to "Admin: Add New Photo ", new_gallery_path %></li>|
</ul>
</div>
<br/>
<% end %>
<%end%>
<div id='gallery_index'>

 <h1 class='htwo'> <span style="color:#FF2B00">SK</span>Gallery </h1>

<br/>
<div id='gallery_showoff' class='boxsizing'>

  <div class='curved'>
  <h3>Events</h3>

  <% @galleries.each do |g| %>

  <%if g.gallery_type == "Events" %>
    <p>
    <a title="<%= g.title %>" href='<%= g.photo.url() %>' rel="prettyPhoto['<%= g.gallery_type%>']" >
    <%= image_tag g.photo.url(:thumb) %>
    </a>
    <% if current_user%>
    <label>
    <%= link_to "Show Detail ", gallery_path(g) %>|
    <%= link_to "Delete ", g,:confirm => 'Are You Sure?' %>
    </label>
    <% end %>
    </p>
  <% end %>
  <% end %>
 </div>

   <div class='curved'>
  <h3>Dishes</h3>

  <% @galleries.each do |g| %>

  <%if g.gallery_type == "Dishes" %>
    <p>
    <a title="<%= g.title %>" href='<%= g.photo.url() %>' rel="prettyPhoto['<%= g.gallery_type%>']" >
    <%= image_tag g.photo.url(:thumb) %>
    </a>
    <% if current_user%>
    <label>
    <%= link_to "Show Detail ", gallery_path(g) %>|
    <%= link_to "Delete ", g,:confirm => 'Are You Sure?' %>
    </label>
    <% end %>
    </p>
  <% end %>
  <% end %>
 </div>

   <div class='curved'>
  <h3>SK Life</h3>

  <% @galleries.each do |g| %>

  <%if g.gallery_type == "SK Life" %>
    <p>
    <a title="<%= g.title %>" href='<%= g.photo.url() %>' rel="prettyPhoto['<%= g.gallery_type%>']" >
    <%= image_tag g.photo.url(:thumb) %>
    </a>
    <% if current_user%>
    <label>
    <%= link_to "Show Detail ", gallery_path(g) %>|
    <%= link_to "Delete ", g,:confirm => 'Are You Sure?' %>
    </label>
    <% end %>
    </p>
  <% end %>
  <% end %>
 </div>


</div>

</div>

  <div id="form_back"  >
<ul>
<li>Back
<ul>
<li><%= link_to 'Home', root_path%></li>
<li><%= link_to 'Make Reservation', new_reservation_path%></li>
<li>  <%= link_to 'Gallery',galleries_path %></li>
<li>
<%= link_to 'Events',events_path %>
</li>
<li>
<%= link_to 'Contact Us',new_contact_path  %>
</li>
</ul>
</li>
</ul>
</div>

