<title>Admin Login</title>
<br/>
<h1 class='htwo'><span>Admin</span> Login </h1>
<div id='login_form'>
  <div id="reg_form", class = "curved">
  <%= render :partial => 'form' %>
</div>
</div>

<div id="form_back"  >
<ul>
<li>Back
<ul>
<li><%= link_to 'Home', root_path%></li>
<li><%= link_to 'Make Reservation', new_reservation_path%></li>
<li>  <%= link_to 'Gallery',galleries_path %></li>
<li>
<%= link_to 'Events',events_path %>
</li>
<li>
<%= link_to 'Contact Us', new_contact_path  %>
</li>
</ul>
</li>
</ul>
</div>

